/* Customização Tora Transportes */
.bg-tora {
    background-color: #C41230 !important; /* Vermelho Institucional */
    border-bottom: 5px solid #8B0E22;
}

body {
    background-color: #F8F9FA;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    border: none;
    border-top: 3px solid #C41230;
}

label {
    font-weight: bold;
    color: #495057;
}

.btn-danger {
    background-color: #C41230;
    border: none;
}

.btn-danger:hover {
    background-color: #8B0E22;
}
